<?php

# we need to call the autoloader
require __DIR__ . '/vendor/autoload.php';

?>
<!-- 
    Document  : index.html
    Created on : Jun 30, 2022, 02:15:08 AM
    Author     : Eliot Valdés | @eliottvaldes
    Description: This is the main page to show all projects developed in the repository.
 -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!!</title>
    <!-- import link for bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- import vuejs link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

</head>

<body>
    <div class="container-fluid">
        <div class="container py-5" id="app">

            <div class="row text-center">
                <div class="col-md-12">
                    <div class="card shadow p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <div class="card-header">

                                <!-- show a loader while si charging -->
                                <div v-if="fetchingMessages">
                                    <!-- create a loader -->
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- show error messages in case it exists -->
                                <div class="alert alert-danger p-3" role="alert" v-if="errors_msg.length">
                                    {{errors_msg}}
                                    <br> <br>
                                    <!-- buttom to reload the page -->
                                    <button class="btn btn-primary" @click="location.reload()">
                                        Reload
                                    </button>
                                    <br> <br>
                                    <p class="fst-italic">
                                        If the error persists, please contact the administrator.
                                        <a href="mailto:eliottvaldes@hotmail.com"></a>
                                    </p>

                                </div>
                                <!-- show all messages -->
                                <div class="" v-if="messages.length">
                                    <div v-for="{welcome, information, collaborators} in messages">
                                        <h1>
                                            <!-- show the data inside messages using vuejs-->
                                            {{welcome}}
                                        </h1>
                                        <hr class="my-3">
                                        <h4>
                                            {{information}}
                                        </h4>
                                        <hr class="my-3">
                                        <h5 class="text-start">
                                            Contributors:
                                            <br><br>
                                            <div class="mb-3 text-start"
                                                v-for="{ID, name, email, position, country, phone, github} in collaborators">
                                                <p>
                                                    <button class="btn btn-primary" type="button"
                                                        data-bs-toggle="collapse" :data-bs-target="'#'+ID"
                                                        aria-expanded="false" :aria-controls="ID">
                                                        {{name}} - {{position}} <br>
                                                        View Details
                                                    </button>
                                                </p>
                                                <div class="collapse" :id="ID">
                                                    <div class="card card-body shadow-sm p-3 mb-5 bg-body rounded">
                                                        <div class="card-title">
                                                            CONTACT:
                                                        </div>
                                                        <br>
                                                        Email => <a :href="'mailto:'+email">{{email}}</a>
                                                        <br>
                                                        Github => <a :href="github" target="_blank">{{github}}</a>
                                                        <br>
                                                        Phone => (+52) <a href="tel:">{{phone}}</a>
                                                        <br>
                                                        Country => {{country}}
                                                    </div>
                                                </div>
                                            </div>
                                        </h5>

                                    </div>
                                </div>


                            </div>
                            <div class="card-text py-3" id="projects-container">


                                <!-- show error messages in case it exists -->
                                <div class="alert alert-danger p-3" role="alert" v-if="errors_projects.length">
                                    {{errors_projects}}
                                    <br> <br>
                                    <!-- button to recall showAllProjects() -->
                                    <button class="btn btn-sm btn-primary" @click="showAllProjects()">
                                        Try again
                                    </button>
                                    <br><br>
                                    <p class="fst-italic">
                                        If the error persists, please contact the administrator.
                                        <a href="mailto:eliottvaldes@hotmail.com"></a>
                                    </p>
                                </div>

                                <!-- buttons to hide | show prohects-->
                                <div id="action-button-container">

                                    <!-- button to show all projects -->
                                    <div v-if="!showProjects">
                                        <button class="btn btn-primary" @click="showAllProjects()">
                                            Show projects
                                        </button>
                                    </div>
                                    <!-- button to hide projects -->
                                    <div v-else-if="!errors_projects">
                                        <button class="btn btn-primary" @click="hideAllProjects()">
                                            Hide projects
                                        </button>
                                    </div>
                                </div>

                                <!-- show all projects -->
                                <div id="projects-view" v-if="showProjects">

                                    <!-- show a loader while is charging -->
                                    <div v-if="fetchingProjects">
                                        <!-- create a loader -->
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-border" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- in case projects show all -->
                                    <div class="album py-5 bg-light" v-if="projects.length">

                                        <div class="container">

                                            <!-- header information -->
                                            <h1 class="fw-light my-4">
                                                Here you can find more info about our projects.
                                            </h1>

                                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                                <!-- create a card for each project -->
                                                <div class="col mb-2 text-start"
                                                    v-for="{ID, name, description, url, gallery, language, language_icon, creator} in projects">
                                                    <div class="card shadow-sm" style="height: 100%;">
                                                        <img :src="gallery[0]" :alt="'Imagen de proyecto ' + name"
                                                            class="bd-placeholder-img card-img-top" width="100%"
                                                            height="225">
                                                        <div class="card-body">
                                                            <p class="card-title">
                                                                {{name}}
                                                            </p>

                                                            <p class="card-text">
                                                                {{description}}
                                                            </p>
                                                            <div
                                                                class="d-flex justify-content-between align-items-center">
                                                                <div class="btn-group">
                                                                    <a :href="url" target="_blank"
                                                                        class="btn btn-sm btn-outline-primary">
                                                                        Ver
                                                                    </a>
                                                                    <a href="https://github.com/eliottvaldes/random-projects-using-copilot"
                                                                        target="_blank"
                                                                        class="btn btn-sm btn-outline-primary">
                                                                        Codigo
                                                                    </a>
                                                                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                                                                </div>
                                                                <small class="text-muted">
                                                                    {{language}} - {{language_icon}}
                                                                </small>
                                                                <small>
                                                                    {{creator}}
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- in case no exist any project and no error was catched -->
                                    <div v-if="!projects.length && !errors_projects.length">
                                        <h1>
                                            No projects found.
                                        </h1>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- bootstrap integration link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>



    <!-- import axios link -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- create our Vue App using id="app" -->
    <script>
        const Copilot_App = new Vue({
            el: "#app",
            data: {
                fetchingMessages: true,
                fetchingProjects: false,
                messages: [],
                showProjects: false,
                projects: [],
                errors_projects: [],
                errors_msg: []

            },
            mounted() {
                this.showMessages()
            },
            methods: {
                showMessages() {
                    // get all messajes from the API                    
                    // axios.get("https://copilot-projects.herokuapp.com/api/v1/get-messages.php")
                    //     .then(response => {
                    //         this.messages = [response.data]
                    //     }).catch(error => {
                    //         this.errors_msg.push("error getting messages")
                    //         // this.errors_msg.push(error)
                    //     }).finally(() => {
                    //         this.fetchingMessages = false
                    //     })

                    // ** TESTING USE **
                    this.messages = [{
                        "welcome": "Welcome to Random Coding Challenge", "information": "Here you can see some information of all the projects developed using Copilot", "collaborators": [{ "ID": "VALE03", "name": "Eliot Valdes", "email": "eliottvaldes@hotmail.com", "phone": "xxxx-xxxx-xxxx", "country": "MX", "position": "Web Developer", "website": "eliottvaldes.live", "linkedin": "...", "twitter": "@Valdes_05", "facebook": "Eliot Vald\u00e9s Luis", "instagram": "@eliotvaldes_", "github": "https:\/\/github.com\/eliottvaldes" }]
                    }]
                    this.fetchingMessages = false

                },
                showAllProjects() {
                    this.fetchingProjects = true
                    this.showProjects = true
                    this.clearErrorMessages('errors_projects');
                    this.getAllProjects()
                },
                hideAllProjects() {
                    this.showProjects = false
                    this.clearErrorMessages(errors_projects);
                },
                getAllProjects() {
                    // get all projects from the API
                    // axios.get("https://copilot-projects.herokuapp.com/api/v1/get-projects.php")
                    //     .then(response => {
                    //         this.projects = response.data
                    //         console.log(this.projects)
                    //     }).catch(error => {
                    //         // TEMPORARY SOLUTION TO GET ALL PROJECTS WITHOUT ERRORS
                    //         this.errors_projects.push("there's an error getting the projects , it's not your fault :).")
                    //         // this.errors_projects.push(error)
                    //     }).finally(() => {
                    //         this.fetchingProjects = false
                    //     })

                    // ** TESTING USE **
                    this.projects = [
                        {
                            "ID": "1", "language": "Python", "language_icon": "Python",
                            "name": "Pyscript example", "description": "Example of a Python script inside of HTML",
                            "url": "https://copilot-projects.herokuapp.com/PROJECTS/Small/PYTHON/Frankenstein/pyscript.html",
                            "creator": "Eliot Valdes", "gallery": ["https://copilot.io/assets/images/copilot-logo.png",
                                "https://copilot.io/assets/images/copilot-logo.png"]
                        },
                        {
                            "ID": "1", "language": "Python", "language_icon": "Python",
                            "name": "Pyscript example", "description": "Example of a Python script inside of HTML",
                            "url": "https://copilot-projects.herokuapp.com/PROJECTS/Small/PYTHON/Frankenstein/pyscript.html",
                            "creator": "Eliot Valdes", "gallery": ["https://copilot.io/assets/images/copilot-logo.png",
                                "https://copilot.io/assets/images/copilot-logo.png"]
                        },
                        {
                            "ID": "1", "language": "JS",
                            "language_icon": "js", "name": "Simple CLock", "description": "Basic clock example", "url": "https://copilot-projects.herokuapp.com/PROJECTS/Small/JS/clock/clock.php", "creator": "Eliot Valdes", "gallery": ["https://copilot.io/assets/images/copilot-logo.png", "https://copilot.io/assets/images/copilot-logo.png"]
                        }, {
                            "ID": "1", "language": "Python", "language_icon": "python", "name": "Fibonacci Series", "description": "series of fibonachi using recursion and dynamic programming", "url": "https://copilot-projects.herokuapp.com/PROJECTS/Small/PYTHON/fibonacci/fibonacci.php", "creator": "Eliot Valdes", "gallery": ["https://copilot.io/assets/images/copilot-logo.png", "https://copilot.io/assets/images/copilot-logo.png"]
                        }
                    ]
                    this.fetchingProjects = false
                },
                clearErrorMessages(typeOfError) {
                    if (typeOfError == 'errors_projects') {
                        this.errors_projects = []
                    } else {
                        this.errors_msg = []
                    }

                }
            }
        });
    </script>


</body>

</html>