body {
  width: auto;
  margin: 23px;
  resize: horizontal;
  background-image: url("bckg_fibonacci.jpg")
}
.container{
  background-color:white;
  border-radius: 3rem;
}
hr{
  height: 4px;
  border-color: coral;
}

.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
}
